body{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}
#homepage{
    min-height: 100vh;
    background-color: #6d6875;
    padding:10px;
    color: #fff;
    text-align: center;
}
#multiPage{
    min-height: 100vh;
    padding:10px;
    background-color: #b5838d;
}
#contactPage{
    min-height: 100vh;
    padding:10px;
    background-color: #e5989b;
}
#navLinks li{
    list-style-type: none;
}
#navLinks a{
    text-decoration: none;
}
footer{
    background-color: #ffb4a2;
    padding:10px;
    text-align: center;
}
#eventsSection{
    display:block;
}
#cmsSection{
    display:none;
}
#editCMSSection{
    display:none;
}
#deleteCMSSection{
    display:none;
}
#viewCMSSection{
    display:none;
}
#addCMSSection{
    display:none;
}
