body{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    font-family: 'Karla', Helvetica, Arial, sans-serif;

}
body input{
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    font-size 12px;
}
body input, body select{
    padding: 10px 10px 10px 10px;
}
#homepage{
    min-height: 100vh;
    background-color: #6d6875;
    padding:10px;
    color: #fff;
    text-align: center;

}
#multiPage{
    min-height: 100vh;
    padding:10px;
    background-color: #b5838d;
}
#contactPage{
    min-height: 100vh;
    padding:10px;
    background-color: #e5989b;
}
#navLinks li{
    list-style-type: none;
}
#navLinks a{
    text-decoration: none;
}
footer{
    background-color: #ffb4a2;
    padding:10px;
    text-align: center;
}
#eventsSection{
    display:block;
}
#cmsSection{
    display:none;
}
#editCMSSection{
    display:none;
}
#deleteCMSSection{
    display:none;
}
#addCMSSection{
    display:none;
}
#registrationSection{
    display:none;
}
#profileSection{
    display:none;
}
#homepage input[type="submit"]{
    background-color: #b5838d;
    color: #fff;
    border-style: solid;
    border-color: #e5989b;
    padding: 10px 50px 10px 50px;
}
#homepage a{
    text-decoration: none;
    color: #b5838d;
}
#contactPage textarea{
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    font-size 12px;
}
#navLinks a{
    color: #ffcdb2;
    text-shadow: 0 0 3px #6d6875;
}
