#openOverlay{
    display:none;
}
#closeOverlay{
    display:none;
}
#screenLinks a{
    color: #ffcdb2;
    text-shadow: 0 0 3px #6d6875;
}
#screenLinks{
    display:inline-block;
    z-index: 1;
    position:fixed;
    top:10%;
}
#screenLinks li{
    list-style-type: none;
}
#screenLinks a{
    text-decoration: none;
}
