#openOverlay{
    display:none;
}
#closeOverlay{
    display:none;
}
#navLinks{
    z-index: 1;
    position:fixed;
    top:10%;
}
#navLinks a{
    color: #ffcdb2;
    text-shadow: 0 0 3px #6d6875;
}
