div#overlay{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: #fff;
    color: #f24b4b;
}
header{
    padding:10px;
    background-color: #13042b;
    color:#fff;
    height:100%;
}
body{
    width:100%;
    text-align: center;
    margin:0;
    padding:0;
    height:100%;
}
#navButton{
    font-size:48px;
    color:#fff;
    float:right;
    position:fixed;
    top:20px;
    right: 20px;
}
nav ul {
    display:none;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
}
section, footer{
    text-align: center;
}
section{
    height:100%;
    padding:10px;
}
#eventsPage{
    background-color: #f24b4b;
    color: #fff;
}
#contactPage{
    background-color: #6bd6f1;
    color: #fff;
}
#contactForm ul li{
    list-style-type: none;
}
footer{
    padding:10px;
    background-color: #f24b4b;
    color: #fff;
    height:25%;
}
